<%- include("partials/header") -%> <%- include("partials/navbar") -%>

<!-- About section -->
<section class="aboutSection">
  <div class="container">
    <!-- Heading -->
    <div class="text-center">
      <h1>About</h1>
      <h3 class="mb-4">
        Our mission is to rescue animals and organize a new home for them.
      </h3>
      <img
        src="images/AboutImage.jpg"
        alt="Image about Animal Shelter"
        class="img-fluid imageAbout"
      />
      <hr />
      <h3 class="mb-4">Who are we?</h3>
    </div>

    <!-- Cards -->
    <div class="card mb-3 mt-5 mx-auto cardPerson">
      <div class="row g-0">
        <div class="col-4 mt-auto mb-auto">
          <img
            class="iconCustom d-block mx-auto"
            src="images/Kai.svg"
            alt="Image of Kai"
          />
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">Kai Borowski</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              non dapibus libero, a bibendum magna. Donec fringilla ornare
              convallis. In hac habitasse platea dictumst. In ut lectus
              condimentum, cursus enim nec, eleifend est. Integer tortor neque,
              sagittis at elementum quis, vehicula id sapien. Pellentesque vel
              augue leo.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 mt-5 mx-auto cardPerson">
      <div class="row g-0">
        <div class="col-8">
          <div class="card-body text-end">
            <h5 class="card-title">John Adams</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              non dapibus libero, a bibendum magna. Donec fringilla ornare
              convallis. In hac habitasse platea dictumst. In ut lectus
              condimentum, cursus enim nec, eleifend est. Integer tortor neque,
              sagittis at elementum quis, vehicula id sapien. Pellentesque vel
              augue leo.
            </p>
          </div>
        </div>
        <div class="col-4 mt-auto mb-auto">
          <img
            class="iconCustom d-block mx-auto"
            src="images/John.svg"
            alt="Image of John"
          />
        </div>
      </div>
    </div>

    <div class="card mb-3 mt-5 mx-auto cardPerson">
      <div class="row g-0">
        <div class="col-4 mt-auto mb-auto">
          <img
            class="iconCustom d-block mx-auto"
            src="images/Viola.svg"
            alt="Image of Viola"
          />
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">Viola Rose</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              non dapibus libero, a bibendum magna. Donec fringilla ornare
              convallis. In hac habitasse platea dictumst. In ut lectus
              condimentum, cursus enim nec, eleifend est. Integer tortor neque,
              sagittis at elementum quis, vehicula id sapien. Pellentesque vel
              augue leo.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Google Maps -->
    <div class="pb-5">
      <div class="text-center">
        <hr />
        <h3>Where are we?</h3>
        <iframe
          class="mt-5"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14877.771404904246!2d-159.7476459532409!3d-21.214280728596794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7157d3b548d97dad%3A0x67f885d0d5c9f559!2s21%20Ara%20Tapu%2C%20Avarua%20District%2C%20Cookinseln!5e0!3m2!1sde!2sde!4v1618583812273!5m2!1sde!2sde"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
