<%- include("partials/header") -%>

<!-- Home section -->
<div class="homeSection page-holder">
  <div class="container">
    <header class="text-center text-white customCenter">
      <h1>Welcome to Animal Shelter Paradise</h1>
      <hr />
      <figure>
        <blockquote class="blockquote">
          <p>
            “Until one has loved an animal, a part of one's soul remains
            unawakened.”
          </p>
        </blockquote>
        <figcaption class="blockquote-footer text-white">
          Anatole France
        </figcaption>
      </figure>
      <a role="button" class="btn btn-lg btn-light mt-4" href="/About">Visit us</a>
    </header>
  </div>
</div>

<%- include("partials/footer") -%>
